<script src="../../Angular/bitacora.js" type="text/javascript"></script>
<script src="../../Angular/department.js" type="text/javascript"></script>
<script src="../../Angular/stock.js" type="text/javascript"></script>
<script src="../../Angular/users.js" type="text/javascript"></script>
<script src="../../Angular/menu.js" type="text/javascript"></script>


<div class='menu' id='menu' ng-controller="menuController" ng-init='init()'>
    <ul class='menu container'>
        <menu-item ng-repeat="action in actions | orderBy: 'Sorted'" mitem="action"></menu-item>
    </ul>
</div>